body {
	background-color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:10px;
	cursor:default;
  /*padding:5px 15px 5px 30px;
    margin:5px 5px;*/
	text-align:justify;
}
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:24px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}
h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:16px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}

h3 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:12px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}

h4 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:10px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}

h5 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:8px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}

h6 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
        font-size:6px;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:2px;
}

p {
	padding:5px 15px 5px 30px;
	margin:5px 5px;
	text-align:justify;
}

ul li {
  /*list-style-image:url(images/bullet.jpg);*/
        padding:0px 0px 0px 0px;
	margin-left:25px;
        margin-right:5px;
}

ol {
  counter-reset: section;                /* Creates a new instance of the
                                              section counter with each ol
                                              element */
  list-style-type: none;
}

ol li:before {
  counter-increment: section;            /* Increments only this instance
					    of the section counter */
 content: counters(section, ".") " ";   /* Adds the value of all instances
                                              of the section counter separated
                                             by a ".". */
}

a {
	color:#000099;
        text-decoration:none;
}

a:hover {
	color:#000099;
	border-bottom:2px solid #FF0000;
}

a:visited {
	color:#666666;
}

img {
	border: none;
	padding:1px 1px;
	margin:0em 1em;
	float:none;
}

table {
  font-family: Verdana;
  font-weight: normal;
  font-size: 10px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0px;
}


table th {
  background-color: #eeeeee;
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-size: 11px;
}

table td {
    padding: 5px 5px 5px 5px;
}

#divider {
          height:20px;
          background-image:url(images/line.jpg);
          background-position:center;
          background-repeat: no-repeat;
}

/* FORM DATA     ======================================================================== */

form {
    padding: 10px;
}
form a {
    color: #000099;
}

/* Inputs ======================================================================== */

textarea {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#000000;
    font-size:10px;
    padding: 0;
    vertical-align: top;
    margin: 2px 2px 1px 0;
}
input {
    font-size: 125%; 
    margin: 0 2px 0 0;
    padding: 2px 0;
}
select {
    margin: 1px 1px 1px 0;
    padding: 0;
    font-size: 10px; 
}

/* Buttons ======================================================================= */

form .actions {
    margin: 20px 0 10px 0;
    padding: 10px 5px;
    background-color: #F5F5F5;
    border-top: 2px solid #339933;
    text-align: right;
}
/* Submit button */
form .primaryAction {
}
/* Cancel button */
form .secondaryAction {
    color: grey;
}
form .secondaryAction:hover {
    color: black;
}

/* IE6 BUG FIXES ==================================================================== */
form {
    height:expression('1%'); /* IE Pick-a-boo bug fix */
}
